<strap-menu top large fixed color="green" white-text>
  <strap-link router-link class="brand" to="/">{{ $t('brand') }}</strap-link>

  <strap-link router-link route-selected to="/products">{{ $t('products.title') }}</strap-link>
  <strap-link router-link route-selected to="/sales">{{ $t('sales.title') }}</strap-link>

  <div class="spacer"></div>

  <strap-link router-link route-selected to="/about" :selected="$route.path === '/about'">{{ $t('about.title') }}</strap-link>
  <strap-link router-link route-selected to="/about-me">{{ $t('aboutMe.title') }}</strap-link>
  <div class="menu-dropdown mobile-hidden">
    <strap-dropdown class="white" :items="locales" :placeholder="$t('common.lang')" :value="$i18n.locale" @change="changeLocale" />
  </div>
</strap-menu>